*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto; /* margin and max-width properties (and their values) holds everything in place i.e it will make html elements*/
  max-width:1440px; /* within them to stay within these boundaries especially when zooming in/out of a web browser */
  padding: 0;
  background-color: #FFFFFF;
  position: relative;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FFFFFF;
  padding: 0.3rem;
  box-shadow: 0 3px 2px -2px rgb(214, 214, 214);
}

.navbar-left-container {
  margin-left: 25px;
}

.search-icon {
  margin: 0 20px;
}

/* Styles for the SPACE & COSMOS text/link in the left-most part of navbar*/
.space-and-cosmos-link {
  position: relative;
  top: -0.35rem;
  color: #000000;
  font-weight: bold;
}

.space-and-cosmos-link:hover {
  text-decoration: #000000 underline;
}

